.header {
  &__container {
    background: linear-gradient(
        171.8deg,
        rgb(9, 81, 105) 0%,
        rgba(6, 57, 84, 0.5) 1%
      ),
      url("../../images/headerImage1.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: $white-color;
    @media only screen and (max-width: 750px) {
      height: 50vh;
    }
  }
  &__contentBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      font-size: 5rem;
      font-weight: bold;
      text-transform: uppercase;
      font-family: $header-font;
      @media only screen and (max-width: 1245px) {
        font-size: 4rem;
      }
      @media only screen and (max-width: 1050px) {
        font-size: 3rem;
      }
      @media only screen and (max-width: 750px) {
        font-size: 2.5rem;
      }
      @media only screen and (max-width: 650px) {
        font-size: 2rem;
      }
      @media only screen and (max-width: 500px) {
        font-size: 1.8rem;
      }
      @media only screen and (max-width: 450px) {
        font-size: 1.6rem;
      }
      @media only screen and (max-width: 400px) {
        font-size: 1.4rem;
      }
    }
    p {
      font-size: 1.3rem;
      width: 60%;
      text-align: center;
      font-family: $paragraph-font;
      @media only screen and (max-width: 1160px) {
        font-size: 1.2rem;
      }
      @media only screen and (max-width: 1050px) {
        font-size: 1.1rem;
        width: 70%;
      }
      @media only screen and (max-width: 800px) {
        width: 75%;
        font-size: 1rem;
      }
      @media only screen and (max-width: 650px) {
        font-size: 0.8rem;
      }

      @media only screen and (max-width: 400px) {
        font-size: 0.6rem;
      }
    }
  }
}
