$primary-color-gradient: linear-gradient(
  171.8deg,
  rgb(9, 81, 105) 13.5%,
  rgba(6, 57, 84, 1) 78.6%
);
$primary-color: #095169;
$grey-color: #9d9d9d;
$white-color: #fff;
$red-color: #bd4b4b;
$lightGreen-color: #f2f8ff;
$color-title: #3f3f42;
$color-parag: #4d4d50;

$font-title: "DM Serif Display", serif;
$font-link: "Sanchez", serif;
$font-parag: "Arvo", serif;
